body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin: 0 0 72px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  box-sizing: border-box;
}

p {
  margin: 0;
}

img {
  display: block;
}

button {
  padding: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.navigator {
  display: flex;
  align-items: center;
}

.nav-logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  align-self: center;
  margin-right: 76px;
}

.nav-logo {
  color: #2e2f42;
}

.btn-link {
  display: flex;
  gap: 40px;
  position: relative;
}

.nav-link {
  font-weight: 500;
  display: block;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact {
  font-style: normal;
  align-items: center;
  padding: 24px 0;
}

.link-contact-list {
  display: flex;
  gap: 40px;
}

.link-contact a {
  font-weight: 400;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contact a:hover,
.link-contact a:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-button {
  display: none;
  align-items: center;
}
.menu-btn {
  height: 24px;
  width: 24px;
  border: none;
  background-color: transparent;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  outline: none;
}
.icon-burger {
  align-items: center;
}

main {
  flex-grow: 1;
}

.section {
  padding: 120px 0;
}

.heroes {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/heroes-bg/heroes-desktop-bg@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.heroes-name {
  color: #fff;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
  text-align: center;
}

.btn-order {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:hover,
.btn-order:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  letter-spacing: 0.02em;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-card {
  width: calc((100% - 72px) / 4);
}

.advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  height: 112px;
}

.advan-icon {
  fill: #4d5ae5;
}

.name-block {
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.header-team {
  letter-spacing: 0.02em;
}

.team-wrapper {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-info {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-card {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item {
  padding: 32px 0;
  text-align: center;
}

.team-icon {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.team-icon .team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.team-icon .team-link:hover,
.team-icon .team-link:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-props {
  fill: #f4f4fd;
}

.portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
  cursor: pointer;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-list:hover .descr-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.descr-overlay {
  background-color: #4d5ae5;
  padding: 40px 32px;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  overflow: hidden;
  vertical-align: bottom;
}

.portfolio-card {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-content {
  margin-right: 120px;
}

.footer-logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-social {
  margin-right: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form_label {
  display: flex;
  align-items: center;
}

.footer-descr {
  color: #f4f4fd;
  max-width: 264px;
  display: flex;
}

.footer-social-text {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-icon {
  display: flex;
  gap: 16px;
}

.footer-icon .team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon .team-link:hover,
.footer-icon .team-link:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  min-width: 264px;
  min-height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  color: #ffffff;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-btn {
  display: flex;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  padding: 8px 24px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.footer-btn:focus,
.footer-btn:hover {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send-btn {
  fill: #fff;
  margin-left: 16px;
}

.order-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.order-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.order-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  outline: none;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  align-self: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.icon-close-btn {
  position: relative;
  top: 0px;
  left: 0px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .icon-close-btn,
.modal-close-btn:focus .icon-close-btn {
  fill: #fff;
}

.modal-text {
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 16px;
  text-align: center;
}

.modal-form_wrapper {
  margin-bottom: 8px;
}

.modal-form_textarea {
  margin-bottom: 16px;
}

.modal-label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-wrapper {
  position: relative;
}

.modal-label-last {
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
}

.modal-form .modal-input:focus-visible,
.modal-form .modal-input:hover,
.modal-form .modal-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-input:focus + .modal-icone {
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-texarea {
  padding: 8px 16px;
  letter-spacing: 0.04em;
}

.modal-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
}

.modal-icone {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-wrap_checkbox {
  display: flex;
  margin-bottom: 24px;
}

.modal-checkbox {
  margin-right: 8px;
}

.modal-condition {
  font-size: 12px;
  line-height: 1.17;
  color: #8e8f99;
  letter-spacing: 0.04em;
}

.visually-hidden:checked + .modal-condition .modal-condition_text {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-condition_text {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-link-policy {
  color: #4d5ae5;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal textarea {
  height: 120px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-overlay {
  display: none;
}

/*     MEDIA 320px -> 767px     */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigator {
    height: 56px;
  }
  .btn-link {
    display: none;
  }
  .link-contact {
    display: none;
  }
  .nav-logo-web {
    margin-right: 0;
  }
  .nav-menu-button {
    display: flex;
  }
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-overlay.is-open {
    transform: translateX(0%);
    display: flex;
  }

  .menu-close-modal {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: none;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: none;
  }

  .menu-close-modal:hover,
  .menu-close-modal:focus {
    background-color: #404bbf;
    border: none;
  }

  .menu-close-modal:hover .icon-close-btn,
  .menu-close-modal:focus .icon-close-btn {
    fill: #fff;
  }

  .menu-list li {
    margin-bottom: 40px;
  }
  .menu-list li:last-child {
    margin-bottom: 0;
  }
  .menu-list a {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    text-decoration: none;
  }
  .menu-item.active {
    color: #404bbf;
  }
  .menu-item:focus,
  .menu-item:hover {
    color: #404bbf;
  }
  .menu-contact-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #434455;
    font-style: normal;
    text-decoration: none;
  }

  .menu-contact-btn:hover,
  .menu-contact-btn:focus {
    color: #4d5ae5;
  }

  .menu-modal-address {
    margin-bottom: 48px;
  }
  .menu-contact-item {
    margin-bottom: 24px;
  }
  .menu-contact-item:last-child {
    margin-bottom: 0;
  }
  .menu-team-icon {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  .menu-team-icon .team-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
  }

  .menu-team-icon .team-link:hover,
  .menu-team-icon .team-link:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .section {
    padding: 96px 0;
  }
  .heroes {
    padding: 72px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heroes-bg/heroes-mobile-bg@2x.jpg);
  }
  .container {
    width: 100%;
    max-width: 320px;
    padding: 0 16px;
  }
  .heroes-name {
    font-size: 36px;
    line-height: 1.11;
    max-width: 216px;
  }
  .order-modal {
    max-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .modal-link-policy {
    margin-left: 23px;
    line-height: 1.33333;
  }
  .modal-form_textarea {
    line-height: 0;
  }
  .modal-condition_text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .advantages-list {
    flex-direction: column;
    gap: 72px;
  }
  .advantages-card .name-block {
    text-align: center;
  }
  .advantages-card {
    width: 100%;
  }
  .advantages-card .description {
    text-align: left;
  }
  .team-info {
    align-items: center;
    flex-direction: column;
    gap: 72px;
  }
  .team-card {
    width: 264px;
  }

  .portfolio-item {
    justify-content: center;
  }

  .portfolio-box img {
    width: 288px;
    height: 280px;
  }

  .portfolio-list {
    width: 100%;
    max-width: 288px;
  }

  .footer {
    padding: 96px 0;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 72px;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 72px;
  }
  .footer-content {
    display: block;
    margin-right: 0;
  }
  .footer-descr {
    max-width: 288px;
    text-align: left;
  }
  .footer-social {
    margin-right: 0;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
  }
  .footer-btn {
    max-width: 165px;
    margin: 0 auto;
  }
  .footer-subscribe {
    width: 100%;
  }
  .footer-input {
    width: 288px;
  }
}

/*     MEDIA 0px -> 1158px     */

@media screen and (max-width: 1157px) {
  .advantages-icon {
    display: none;
  }
  .name-block {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .portfolio-card .name-block {
    text-align: left;
  }
  .advantages-card .name-block {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
  .advantages-card .description {
    font-weight: 500;
  }
  .team-item .name-block {
    text-align: center;
  }
  .footer-content {
    margin-right: 0;
  }
  .footer-social {
    margin-right: 0;
  }
  .footer-btn {
    margin: 0 auto;
  }
}

/*     MEDIA 768px -> 1158px     */

@media (min-width: 768px) and (max-width: 1157px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
  .portfolio-item {
    justify-content: center;
  }
  .portfolio-box img {
    width: 356px;
    height: 300px;
  }
  .portfolio-list {
    width: 100%;
    max-width: 356px;
  }
  .nav-logo-web {
    margin-right: 120px;
  }
  .navigator {
    margin-right: 121px;
  }
  .link-contact {
    padding: 0;
    align-self: center;
  }
  .link-contact-list {
    flex-direction: column;
    gap: 12px;
  }
  .link-contact-item {
    display: contents;
  }
  .link-contact a {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .heroes {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heroes-bg/heroes-tablet-bg@2x.jpg);
  }
  .name-block {
    text-align: left;
  }
  .team-wrapper {
    padding: 96px 92px;
  }
  .advantages-list {
    flex-wrap: wrap;
    row-gap: 72px;
    justify-content: center;
  }
  .advantages-card {
    width: 100%;
    max-width: 356px;
  }
  .advantages-card .description {
    text-align: left;
  }
  .team-info {
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 62px;
  }
  .footer {
    padding: 96px 0;
  }
  .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    margin-left: 92px;
    margin-right: 148px;
  }
  .footer-content {
  }
  .footer-subscribe {
    width: 100%;
    max-width: 453px;
  }
}

@media screen and (min-width: 320px) and (max-resolution: 96dpi) {
  .heroes {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heroes-bg/heroes-mobile-bg@1x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-resolution: 96dpi) {
  .heroes {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heroes-bg/heroes-tablet-bg@1x.jpg);
  }
}

@media screen and (min-width: 1158px) and (max-resolution: 96dpi) {
  .heroes {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/heroes-bg/heroes-desktop-bg@1x.jpg);
  }
}
